.container {
  width: 100%;
  height: auto;
  /* background: red; */
}
.select {
  /* background: green; */
  width: 200px;
  height: auto;
  padding: 5px 10px;

  box-sizing: border-box;
}
.select select {
  display: none;
}
.select-wrapperInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  background-color: rgba(97, 64, 247, 0.1);
}
.select input[type="text"] {
  flex: 1;
  width: 100%;
  z-index: 10;
  /* position: absolute; */
  height: auto;
  box-sizing: border-box;
  background: transparent;
  border: 0px;
  /* height: 100%; */
  border-radius: 0px;
  padding-right: 27px;
  padding-left: 2px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 2px 5px 2px;
  font-size: 17px;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.select input[type="text"]:focus {
  outline: white;
}
.select-wrapperItems {
  position: relative;
  width: calc(100% - 2px);
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -ms-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-top: 0px;
  max-height: 200px;
}
.select-wrapperItems.transition {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.select-wrapperItems.active {
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.options {
  padding: 5px 0px;
  box-sizing: border-box;

  /* prueba */
  width: calc(100% + 40px);
  overflow-y: scroll;
  height: 100%;
  position: relative;
}
.options-option {
  margin: 2px 0px;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
}
.options-option:hover {
  background-color: whitesmoke;
}
.options-option span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
